{% set current_page = 'termofuse' %}
{% extends "layout/_layout-base.html" %}
{% block bodyclass%}page-login{% endblock %}
{% block page-container %}
<main>
    <div class="termofuse-form">
        <h2 class="form-title">Chào mừng đến với myFace</h2>
        <div class="termofuse">
            <div class="termofuse-inner">
                <h4>Điều khoản sử dụng</h4>
                <p>Chào mừng Quý khách đến với Web site <a href="/">https://myFace.vn/ </a>(sau đây gọi là <b>"myFace" </b>hoặc <b>“chúng tôi”).</b></p>
                <p><a href="https://myface.vn/">myFace.vn </a>là một dự án Thương mại điện tử được thực hiện và sở hữu bởi <b>Công ty TNHH Thương Mại Điện Tử Modern Life (Modern Life),</b>thuộc <b>Tập đoàn ITL, </b>theo Giấy phép Đăng ký kinh doanh số <b>0312952685 </b>do <b>Sở kế hoạch &amp; Đầu tư Thành phố Hồ Chí Minh </b>cấp ngày 02/10/2014.</p>
                <p>Khi Quý khách truy cập vào trang Web của chúng tôi có nghĩa là Quý khách đồng ý với các Điều khoản sử dụng sau đây. Trang Web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ thành phần nào trong Điều khoản sử dụng này vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng tải trở lại lên trang Web mà không cần thông báo trước. Khi Quý khách tiếp tục sử dụng trang Web sau khi các Điều khoản được thay đổi, có nghĩa là Quý khách chấp nhận với những thay đổi đó. Quý khách vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.</p>
                <p>Để phục vụ Quý khách tốt hơn, nếu có bất cứ câu hỏi nào về các Điều khoản sử dụng, vui lòng liên hệ số <a href="tel:1900 636 798">Hotline: 1900 636 798 (08-18h, từ T2-T7) </a>hoặc gửi thông tin cho chúng tôi qua mục <a href="https://myface.vn/contact">Liên hệ </a>trên trang Web .</p>
                <p>Sau đây là các Điều khoản sử dụng.</p>
                <ol>
                    <li>Điều khoản chung:
                        <ol>
                            <li>Điều khoản này được áp dụng cho các tổ chức, cá nhân sau:
                                <ul>
                                    <li>Nhà cung cấp Dịch vụ: <b>Công ty TNHH Thương Mại Điện Tử Modern Life.</b></li>
                                    <li>Các tổ chức, cá nhân bán hàng trên myFace.vn &amp; các trang Web, dịch vụ thuộc hệ thống myFace (sau đây gọi là “<b>Shopper</b>”)</li>
                                    <li>Các cá nhân mua hàng hóa, dịch vụ trên myFace.vn &amp; các trang Web thuộc hệ thống myFace (sau đây gọi là “<b>người dùng</b>” hoặc, “<b>user</b>”).</li>
                                    <li>Các tổ chức,  cá nhân đăng ký bán hàng và các cá nhân mua sản phẩm trên myFace sẽ được gọi chung là “<b>Quý khách</b>”.</li>
                                </ul>
                            </li>
                            <li>Khi vào các trang Web thuộc hệ thống myFace, người dùng tối thiểu phải 15 tuổi hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp.</li>
                            <li>Các Shopper cần có thông tin pháp nhân rõ ràng, có thể chứng minh, truy xuất được trong các trường hợp cần thiết.</li>
                            <li>Nghiêm cấm sử dụng bất kỳ phần nào của trang Web này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy quyền truy cập hoặc bất cứ giấy phép nào của Quý khách mà không cần thông báo trước.</li>
                            <li>Trang Web dùng để cung cấp thông tin sản phẩm, những nhận xét trên Web là ý kiến cá nhân của Khách hàng, không phải của chúng tôi.</li>
                            <li>myFace sẽ làm tất cả khả năng có thể để đảm bảo chất lượng hàng hóa, sản phẩm, dịch vụ, tuy nhiên chúng tôi không phải Nhà sản xuất hoặc Nhà cung cấp Sản phẩm, nên chúng tôi sẽ được miễn trừ trách nhiệm nếu sản phẩm không đúng chất lượng như thông tin mô tả. </li>
                            <li>Quý khách phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên Web . Hơn nữa, Quý khách phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép.<br>Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do Quý khách không tuân thủ quy định.</li>
                            <li>Sau quá trình đăng ký, Quý khách có thể sẽ nhận được email quảng cáo từ chúng tôi. Nếu không muốn tiếp tục nhận email, Quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.</li>
                        </ol>
                    </li>
                    <li>Dành cho myFace:
                        <ol>
                            <li>Quyền của Bộ phận quản trị myFace:
                                <ol>
                                    <li>Bộ phận Quản trị myFace có quyền kiểm tra tất cả thông tin các tổ chức, cá nhân đưa lên myFace, đặc biệt là các thông tin về giá cả và chất lượng Sản phẩm.</li>
                                    <li>Từ chối, tạm ngừng hoặc chấm dứt cung cấp dịch vụ cho Thành viên trong trường hợp có cơ sở chứng minh Thành viên cung cấp thông tin cho myFace không chính xác, không đầy đủ, vi phạm pháp luật, đạo đức, thuần phong mỹ tục Việt Nam.</li>
                                    <li>Thu hồi hoặc tạm ngưng ngay lập tức tư cách thành viên, từ chối cung cấp một hoặc tất cả dịch vụ trên myFace trong trường hợp: Thành viên vi phạm Điều khoản sử dụng hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh mua bán, ảnh hưởng đến những Shopper khác trên myFace. </li>
                                    <li>Thu hồi hoặc tạm ngưng ngay lập tức tư cách thành viên, từ chối cung cấp một hoặc tất cả Dịch vụ nếu Thành viên không đủ năng lực tài chính thực hiện nghĩa vụ khi tham gia giao dịch trên myFace hoặc/và có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các Thành viên khác. Trong trường hợp thu hồi tư cách thành viên, chấm dứt cung cấp toàn bộ Dịch vụ, ưu đãi của thành viên thì tất cả các chứng nhận, các quyền của thành viên được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.</li>
                                    <li>myFace giữ bản quyền sử dụng dịch vụ và các nội dung trên myFace.vn &amp; các trang Web trong hệ thống theo Luật bản quyền quốc tế và các Quy dịnh pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. </li>
                                    <li>myFace và tất cả các biểu tượng, logo, slogan, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của myFace. Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến mà chưa có sự đồng ý bằng văn bản của myFace.</li>
                                </ol>
                            </li>
                            <li>Trách nhiệm của myFace:
                                <ol>
                                    <li>Thẩm tra và xác thực thông tin Đăng ký kinh doanh, pháp nhân của Shopper khi đăng ký và tham gia bán hàng hóa, sản phẩm, dịch trên myFace.</li>
                                    <li>Thiết lập cơ chế cung cấp thông tin và giao kết hợp đồng cho phép các tổ chức, cá nhân tham gia Sàn giao dịch TMĐT trên myFace thực hiện quy trình ký kết Hợp đồng.</li>
                                    <li>Lưu giữ thông tin Đăng ký của Shopper hoặc thông tin cá nhân của các User ngay từ ngày đăng ký tham gia myFace và thường xuyên cập nhật các thông tin thay đổi, bổ sung có liên quan.</li>
                                    <li>Áp dụng các biện pháp cần thiết để đảm bảo an toàn thông tin liên quan đến bí mật kinh doanh của Shopper và thông tin cá nhân User. Không được tiết lộ, chuyển nhượng, cho thuê hoặc bán các thông tin liên quan đến bí mật kinh doanh hoặc thông tin cá nhân của Shopper, User khi chưa được sự đồng ý của các bên liên quan, trừ trường hợp pháp luật có quy định.</li>
                                    <li>Tích cực hỗ trợ cơ quan quản lý nhà nước điều tra các hành vi kinh doanh vi phạm pháp luật, gian lận kinh doanh. Cung cấp các tài liệu như thông tin đăng ký, lịch sử dữ liệu giao dịch, … của đối tượng có hành vi vi phạm pháp luật trên myFace.</li>
                                    <li>Khi User mua hàng hóa hoặc Dịch vụ phát sinh mâu thuẫn với người bán (Shopper) hoặc bị tổn hại lợi ích hợp pháp, Shopper và Ban quản trị myFace phải cung cấp cho User thông tin đăng ký của người bán, tích cực hỗ trợ User bảo vệ quyền và lợi ích hợp pháp của bản thân.</li>
                                    <li>Xây dựng các chính sách dịch vụ áp dụng cho từng đối tượng trên Sàn giao dịch myFace. Các chính sách này sẽ được công bố trên trang Web myFace &amp; các hệ thống có liên quan. </li>
                                    <li>Duy trì hoạt động bình thường của hệ thống và khắc phục các sự cố xảy ra ảnh hưởng tới hoạt động của toàn bộ hệ thống. Trường hợp xảy ra các sự kiện bất khả kháng như: Thiên tai, hỏa hoạn, biến động xã hội, các quyết định của cơ quan chức năng...thì myFace không phải chịu trách nhiệm liên đới.</li>
                                    <li>Ban quản trị myFace có trách nhiệm hướng dẫn các Thành viên thực hiện quá trình mua bán qua Sàn giao dịch myFace.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Dành cho Shopper:
                        <ol>
                            <li>Các thông tin đăng ký (thông tin liên hệ Shop và người đại diện Shop) được yêu cầu phải đầy đủ, đúng chính tả, thống nhất, trung thực, rõ ràng, không gây nhầm lẫn, mâu thuẫn hoặc hiểu lầm đối với người dùng về tư cách pháp nhân, uy tín bán hàng cũng như các thông tin nhận biết khác của Shop.</li>
                            <li>Phải có đầy đủ pháp nhân, thông tin đăng ký kinh doanh rõ ràng, có thể xuất trình, chứng minh trong các trường hợp yêu cầu.</li>
                            <li>Địa chỉ Shop phải đầy đủ, cụ thể. Shop đặt tại các Trung tâm thương mại, chợ phải ghi rõ số lô, số quầy, số tầng,… Số điện thoại di động, Email đăng ký hoặc CMND, Mã số thuế Đăng ký phải hợp lệ, chính xác.</li>
                            <li>Sản phẩm đăng bán phải có đầy đủ thông tin, hình ảnh, mô tả, giúp người dùng nhận biết rõ ràng, trình trạng sản phẩm, dịch vụ.</li>
                            <li>Sản phẩm, dịch vụ phải đảm bảo đầy đủ hóa đơn, chứng từ, nguồn gốc sản phẩm, được phép lưu thông trên thị trường.</li>
                            <li>Hình ảnh sản phẩm cần chụp thực, chính xác trình trạng hiện tại, tránh dùng hình ảnh trên mạng Internet, chỉnh sửa gây hiểu lầm. Hình ảnh không được đóng dấu (Watermark) từ các trang Web khác không có liên quan đến myFace hoặc Shop.</li>
                            <li>Sản phẩm đăng bán phải có thông tin giá, khuyến mãi rõ ràng, trung thực, không phá giá hoặc gây hiểu lầm cho người dùng.</li>
                            <li>Có đầy đủ chế độ bảo hành, sữa chữa cho người dùng.</li>
                            <li>Không đăng bán các sản phẩm nghiêm cấm, văn hóa phẩm đồi trụy (băng đĩa, sách báo, phim ảnh, ..), các động vật, vật phẩm liên quan động vật hoang dã, ma túy, chất kích thích, vũ khí, tài liệu bí mật, các sản phẩm phần mềm bất hợp pháp …</li>
                            <li>Các chương trình khuyến mãi cần rõ ràng, đầy đủ, cạnh tranh không lành mạnh, phá giá thị trường.</li>
                            <li>Sản phẩm cần đóng gói cẩn thận, tỉ mỉ, đầy đủ khuyến cáo khi giao cho đơn vị giao hàng, người mua sản phẩm.</li>
                            <li>Shop cần cung cấp hoặc phải chịu trách nhiệm hoàn toàn với các cơ quan chức năng trong trường hợp không có đầy đủ hóa đơn trong quá trình vận chuyển, sử dụng của người mua hàng.</li>
                            <li>Người mua được quyền khiếu nại Shop trong các trường hợp: nhận hàng không đúng yêu cầu, mô tả: không đúng kích thước (size), màu sắc, chất liệu, kiểu dáng, số lượng (giao thiếu/thừa)….; Hàng nhận được bị méo mó, đỗ vỡ, hư hỏng, hết hạn sử dụng ...</li>
                            <li>Trong trường hợp nhận khiếu nại từ người dùng, Shop phải có trách nhiệm hợp tác, tiếp nhận khiếu nại, giải quyết làm hài lòng người dùng từ các yêu cầu của myFace hoặc của người dùng.</li>
                            <li>Không đăng tin tuyên truyền, đăng bài xúc phạm các cá nhân, tổ chức khác.</li>
                        </ol>
                    </li>
                    <li>Dành cho User:
                        <p>Trước khi quyết định mua hàng, người dùng (User) cần hiểu rõ và tuân thủ những điều sau:   </p>
                        <ol>
                            <li>Khi đăng ký tài khoản, User cần cung cấp đầy đủ, chính xác, trung thực tên, địa chỉ email, số điện thoại… phải chịu trách nhiệm quyền sở hữu hợp pháp với những thông tin mình cung cấp. Không được sử dụng thông tin người khác nếu không được phép hoặc ủy quyền.</li>
                            <li>Được sử dụng hệ thống hỗ trợ mua bán tối ưu nhất của myFace với nhiều chức năng mua bán tiện dụng: tìm kiếm Sản phẩm/Shop, đặt hàng, tạo tài khoản, quản lý tài khoản, tham gia các chương trình khuyến mãi, … </li>
                            <li>Có nhiều lựa chọn cho việc thanh toán và nhận hàng. </li>
                            <li>Được người bán/Shop tư vấn và cung cấp thêm thông tin về sản phẩm/dịch vụ thông qua các công cụ/phương tiện liên lạc: điện thoại, chat, nhắn tin trên hệ thống.  </li>
                            <li>Tham khảo các thông tin đánh giá, bình luận về sản phẩm/dịch vụ/Shop từ những người mua khác để có những lựa chọn chính xác cho mình.   </li>
                            <li>Được đưa ra những ý kiến đánh giá, nhận xét, so sánh/đánh giá Sản phẩm/Shop sau khi mua hàng…   </li>
                            <li>Được phép hủy đơn hàng khi chưa nhận hàng. </li>
                            <li>Được cung cấp các thông tin khuyến mãi, giảm giá, các chương trình hỗ trợ Khách hàng. </li>
                            <li>Được sử dụng các công cụ hỗ trợ quản lý, theo dõi việc giao dịch, mua bán, vận chuyển hàng hóa, khiếu nại nếu có trên myFace. </li>
                            <li>Được thông báo miễn phí qua email về tình trạng giao dịch, thanh toán, vận chuyển, khiếu nại nếu có.   </li>
                            <li>Được quyền và có trách nhiệm gửi các khiếu nại, tố cáo khi phát hiện các hành vi gian lận, lừa đảo, bất hợp pháp đến myFace. Được bảo vệ và phân xử nếu có tranh chấp phát sinh với người bán liên quan đến chất lượng, trình trạng, giá bán, thanh toán cho sản phẩm …  </li>
                            <li>Điều kiện được bảo hành, giải quyết các khiếu nại:
                                <ol>
                                    <li>Sản phẩm cần phải giữ nguyên nhãn, mác.</li>
                                    <li>Không bị làm dơ, trầy xước, đã qua sử dụng.    </li>
                                    <li>Sản phẩm không đúng mô tả, trình trạng trên Web. </li>
                                    <li>Có đầy đủ Phiếu bảo hành, chứng từ sản phẩm, hoặc Phiếu giao hành của đơn vị vận chuyển.  </li>
                                </ol>
                            </li>
                            <li>Người dùng cần hiểu, chịu trách nhiệm các bình luận của mình, đảm bảo tính toàn vẹn, không sao chép các nội dung, bình luận của người khác, hoặc từ các nguồn khác. </li>
                            <li>Ban quản trị myFace có quyền xóa ngay lập tức mà không cần thông báo các bình luận có ý xuyên tạc, xúc phạm đến người bán hàng, người mua hàng khác, xúc phạm đời tư, vi phạm các thuần phong mỹ tục Việt Nam, các tuyên truyền, quảng cáo sai sự thật …     </li>
                        </ol>
                    </li>
                </ol>
                <p class="note">
                    Mọi trường hợp người mua và người bán không thể thương lượng được với nhau, quyết định của Ban quản trị myFace là quyết định sau cùng. Đồng thời, Ban quản trị myFace có quyền nhờ các Cơ quan chức năng can thiệp và giải quyết để đảm bảo mọi quyết định đều minh bạch, rõ ràng, đảm bảo quyền lợi của cả người mua &amp; người bán.
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox remember-checkbox">
                <input checked type="checkbox">
                <label>Tôi hoàn toàn đồng ý với điều khoản sử dụng myFace</label>
            </div>
        </div>
        <div class="form-group text-center">
            <input class="btn btn-secondary cta-btn" value="Hoàn thành" type="submit" onclick="location.href='index.html'">
        </div>
    </div>
    <p class="hotline text-center">
        <a href="tel:1900636798">Hotline: 1900 636 798 ( 8h-18h / T2-T7 )</a>
    </p>
</main>
{% endblock %}
