<div id="modal_add" class="modal fade upload-success-modal" role="dialog">
  <div class="modal-dialog modal-show">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Thông báo</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thông tin địa chỉ cửa hàng mới đã được thêm thành công.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>