<div class="connect-zalo-modal modal fade modal-default" role="dialog">
    <div class="modal-dialog modal-show">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Chọn Zalo Store</h2>
            </div>
            <div class="modal-body">
                <div class="social-auth-links link-zalo">
                    <a href="#" type="button" class="gotolist" data-toggle="modal" data-target=".list-connect-modal" data-dismiss="modal" aria-label="Close">
                        <i class="icon-zalo">&nbsp</i><span>Hãy kết nối với Zalo của bạn</span>
                    </a>
                </div>                
            </div>
        </div>
    </div>
</div>
