<div class="connect-fb-modal modal fade modal-default" role="dialog">
    <div class="modal-dialog modal-show">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Chọn Facebook Store</h2>
            </div>
            <div class="modal-body">
              <a href="#" type="button" class="gotolist" data-toggle="modal" data-target=".list-connect-modal" data-dismiss="modal" aria-label="Close"><img src="assets/images/upload/btn-connect-fb.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
