<div class="modal modal-default crop-img-modal" id="cropImgModal" data-backdrop>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Điều chỉnh hình</h4>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="image-mode" src="">
                </div>
            </div>
            <div class="modal-footer text-right">
                <div class="text-right cta-block">
                    <a class="btn btn-cancel close_crop" data-dismiss="modal" aria-label="Close">Hủy bỏ</a>
                    <input class="btn btn-secondary" id="get-img-btn" value="Đăng tải" type="button" data-dismiss="modal" aria-label="Close">
                </div>
            </div>
        </div>
    </div>
</div>
