<header class="main-header">
    <h1 class="navbar-header">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.png" alt="myface">
        </a>
    </h1>
    <div class="main-content-wrapper">
        <div class="main-content">
        <div class="search-box">
            <div class="input-group search-nav">
                <input type="text" class="form-control" placeholder="Tìm kiếm">
                <div class="input-group-addon search-case">
                    <select class="form-control selectpicker" title="Mã đơn hàng">
                        <option>SKU</option>
                        <option>Tên sản phẩm</option>
                        <option>Tên khách hàng</option>
                        <option>Mã đơn hàng</option>
                    </select>
                </div>
                <div class="input-group-addon btn-secondary">Tìm kiếm</div>
            </div>
        </div>
        <div class="navbar-custom-menu pull-right">
            <ul class="nav navbar-nav">
                <li class="search-toggle">
                    <a href="#">
                        <img src="assets/images/icons/search.png" alt="myface">
                    </a>
                </li>
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="label">4</span>
                    </a>
                    <ul class="dropdown-menu notifi-dropdown">
                        <li class="notifi-heading">
                            <span>Phát sinh đơn hàng</span>
                        </li>
                        <li class="notifi-box">
                            <div class="notifi-slimScrollDiv">
                                <ul class="notifi-list">
                                    <li class="notifi-item">
                                        <a href="#">
                                            <p class="notifi-content">Đơn hàng vừa phát sinh trên hệ thống <b>#2016144473</b></p>
                                            <p class="notifi-date">time/day/nam <span>12:30</span></p>
                                        </a>
                                    </li>
                                    <li class="notifi-item">
                                        <a href="#">
                                            <p class="notifi-content">Đơn hàng vừa phát sinh trên hệ thống <b>#2016144473</b></p>
                                            <p class="notifi-date">time/day/nam <span>12:30</span></p>
                                        </a>
                                    </li>
                                    <li class="notifi-item">
                                        <a href="#">
                                            <p class="notifi-content">Đơn hàng vừa phát sinh trên hệ thống <b>#2016144473</b></p>
                                            <p class="notifi-date">time/day/nam <span>12:30</span></p>
                                        </a>
                                    </li>
                                    <li class="notifi-item">
                                        <a href="#">
                                            <p class="notifi-content">Đơn hàng vừa phát sinh trên hệ thống <b>#2016144473</b></p>
                                            <p class="notifi-date">time/day/nam <span>12:30</span></p>
                                        </a>
                                    </li>
                                    <li class="notifi-item">
                                        <a href="#">
                                            <p class="notifi-content">Đơn hàng vừa phát sinh trên hệ thống <b>#2016144473</b></p>
                                            <p class="notifi-date">time/day/nam <span>12:30</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="block-list user-menu ">
                    <div class="item-img">
                        <img class="user-image" src="assets/images/upload/avatar.png" alt="myface">
                    </div>
                    <div class="item-info dropdown control-menu " >
                        <a href="#" class="item-description dropdown-toggle" data-toggle="dropdown">Raymond Reddit <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li class="notifi-item">
                                <a href="#">
                                    <p>Điều khoản sử dụng</p>
                                </a>
                            </li>
                            <li class="notifi-item">
                                <a href="#">
                                    <p>Chính sách bảo mật</p>
                                </a>
                            </li>
                            <li class="notifi-item">
                                <a href="#">
                                    <p>Đổi mật khẩu</p>
                                </a>
                            </li>
                            <li class="notifi-item">
                                <a href="#">
                                    <p>Thoát</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>

</header>
