<div class="list-connect-modal modal fade modal-default" role="dialog">
    <div class="modal-dialog modal-show">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Chọn Facebook Store</h2>
            </div>
            <div class="modal-body">
                <table class="table show-list-fanpage" id="show-list-fanpage">
                    <tbody>
                        <tr>
                            <td class="avatar-image-td">
                                <a class="avatar-image-store" href="#">
                                    <img src="assets/images/upload/icon-connect.png">
                                </a>
                            </td>
                            <td>
                                <a class="avatar-text-store" href="#" target="_blank">Con hẻm số 53 <i class="fa fa-share-square-o"></i></a>
                            </td>
                            <td>
                                <button class="btn btn-secondary facebook-page-add pull-right" type="button">Kết nối
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="avatar-image-td">
                                <a class="avatar-image-store" href="#">
                                    <img src="assets/images/upload/icon-connect.png">
                                </a>
                            </td>
                            <td>
                                <a class="avatar-text-store" href="#" target="_blank">Candy Shop <i class="fa fa-share-square-o"></i></a>
                            </td>
                            <td>
                                <button class="btn btn-secondary facebook-page-add pull-right" type="button">Kết nối
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
