<div class="chat-widget-item message-block messageContentBlock">
    <div class="chat-widget-heading">
        <h3 class="customer-name" title="Raymond Gold">Raymond Gold</h3>
    </div>
    <div class="chat-widget-body meassage-chat-box">
        <div class="message-box-Slimscroll">
            <div class="meassage-content">
                <div class="message-review">
                    <div class="img-review">
                        <a href="#" target="_blank">
                            <img src="assets/images/upload/img-review.jpg" alt="myface">
                        </a>
                    </div>
                    <p class="link-review-row link-review" >
                        https://www.facebook.com/candyshop/24546... https://www.facebook.com/46 https://www.facebookys46
                    </p>
                </div>
                <div class="direct-chat-msg">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-text">
                        <div class="direct-chat-text-inner">
                            <p>Lạy Chúa</p>
                        </div>
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg right">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-text">
                        <div class="direct-chat-text-inner">
                            <p>“Con vốn không biết cầu nguyện, con vốn không tin vào ơn trên, nhưng quỳ bên góc giáo đường vắng này.</p>
                        </div>
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-img">
                        <img src="assets/images/upload/img-chat.jpg" alt="myface">
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-img mess-icon">
                        <img src="assets/images/upload/mess-icon.png" alt="myface">
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg right">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-img mess-icon">
                        <img src="assets/images/upload/mess-icon-2.jpg" alt="myface">
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg right">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-img">
                        <img src="assets/images/upload/img-chat.jpg" alt="myface">
                    </div>
                    <p class="direct-chat-time">12:40</p>
                </div>
                <div class="direct-chat-msg right">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-text">
                        <div class="direct-chat-text-inner">
                            <p>Gold Ruby Necklace - July Birthstone -Tiny Stone Dainty Necklace</p>
                            <p>
                                <a href="https://www.facebook.com/dienmayxanhcom/videos/1279735995425535/?__mref=message_bubble" target="_blank">https://www.facebook.com/dienmayxanhcom/videos/1279735995425535/?__mref=message_bubble</a>
                            </p>
                        </div>
                    </div>
                    <div class="direct-chat-img">
                        <a href="#" target="_blank">
                            <img src="assets/images/upload/thumb-1.jpg" alt="myface">
                        </a>
                    </div>
                    <p class="direct-chat-time">1:40</p>
                </div>
                <div class="direct-chat-msg">
                    <img class="direct-chat-avatar" src="assets/images/upload/thumb-1.jpg" alt="myface">
                    <div class="direct-chat-text">
                        <div class="direct-chat-text-inner">
                            <p>
                                <a href="https://www.facebook.com/dienmayxanhcom/videos/1279735995425535/?__mref=message_bubble" target="_blank">https://www.facebook.com/dienmayxanhcom/videos/1279735995425535/?__mref=message_bubble</a>
                            </p>
                        </div>
                    </div>
                    <p class="direct-chat-time">1:40</p>
                </div>
            </div>
        </div>
        <div class="message-type-tool">
            <div class="type-meassage-box">
                <textarea class="form-control type-mess-textarea" placeholder="Nhập tin nhắn ..."></textarea>
                <button class="btn send-btn" type="button" data-toggle="tooltip" data-placement="top" title="Gửi"></button>
            </div>
            <div class="tool-list meassage-tool-group">
                <div class="tool-item upload-photo-product">
                    <a href="javascript:void(0)">
                        <img src="assets/images/icons/product-chat-tool.png" alt="myface" data-toggle="tooltip" data-placement="top" title="Gửi sản phẩm">
                    </a>
                    <div class="product-list-box" style="display: none;">
                        <div class="product-search-box">
                            <input class="form-control" placeholder="Chọn sản phẩm" type="text">
                        </div>
                        <div class="product-list-wrap">
                            <div class="product-list-SlimScroll">
                                <ul class="block-list">
                                    {% for x in [1,2,3] %}
                                    <li class="item product-item">
                                        <div class="item-img">
                                            <a href="#">
                                                <img src="assets/images/upload/thumb-1.jpg" alt="myface">
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <a class="item-title" href="#">Gold Ruby Necklace - July Birthstone -Tiny Stone Dainty Necklace </a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-item upload-photo-fb">
                    <a data-toggle="modal" data-target=".gallery-modal" href="">
                        <img src="assets/images/icons/img-store.png" alt="myface" data-toggle="tooltip" data-placement="top" title="" data-original-title="Vào kho hình">
                    </a>
                </div>
                <div class="tool-item upload-photo-local">
                    <input class="input-upload" id="file_image" type="file" name="file_image" data-toggle="tooltip" data-placement="top" title="Tải hình lên">
                    <a href="javascript:void(0)">
                        <img src="assets/images/icons/img-upload.png" alt="myface">
                    </a>
                </div>
            </div>
            <!-- review-img-upload -->
            <div class="review-img-upload">
                <button class="close" type="button" ><span aria-hidden="true">×</span></button>
                <!--img-review-->
                <div class="block-list">
                    <div class="item product-item">
                        <div class="item-img">
                            <img src="assets/images/upload/thumb-1.jpg" alt="myface">
                        </div>
                        <div class="item-info">
                            <p class="item-title">Gold Ruby Necklace - July Birthstone -Tiny Stone Dainty Necklace - 14k Gold Filled </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
