<div class="text-right pagination-nav">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">Trước</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">Sau</span>
          </a>
        </li>
    </ul>
    <div class="form-inline">
        Hiển thị
        <select class="form-control selectpicker" title="Chọn số trang">
            <option>10 dòng/ trang</option>
            <option>50 dòng/ trang</option>
            <option>100 dòng/ trang</option>
        </select>
    </div>
</div>
