<div class="promotion-create-nav">
    <div class="row">
        <div class="col-xs-4 promotion-nav-item p-coupon-item">
            <a class="{% if current_page == 'promotion-coupon-create' %}active{% endif %}" href="promotion-coupon-create.html">
                <div>
                    <p>
                        <img src="assets/images/icons/promotion-coupon-2.png" alt="myface">
                    </p>
                    Khuyến mãi code coupon
                </div>
            </a>
        </div>
        <div class="col-xs-4 promotion-nav-item p-order-item">
            <a class="{% if current_page == 'promotion-order-create' %}active{% endif %}" href="promotion-order-create.html">
                <div>
                    <p>
                        <img src="assets/images/icons/promotion-order-2.png" alt="myface">
                    </p>
                    Tặng quà cho đơn hàng
                </div>
            </a>
        </div>
        <div class="col-xs-4 promotion-nav-item p-product-item">
            <a class="{% if current_page == 'promotion-product-create' %}active{% endif %}" href="promotion-product-create.html">
                <div>
                    <p>
                        <img src="assets/images/icons/promotion-product-2.png" alt="myface">
                    </p>
                    Tặng quà cho sản phẩm
                </div>
            </a>
        </div>
    </div>
</div>
