<div class="quicklink-block">
	<a class="tooltip quick-item ql-customer"><span class="tooltiptext">Tạo mới khách hàng</span></a>
	<a class="tooltip quick-item ql-product"><span class="tooltiptext">Tạo mới sản phẩm</span></a>
	<a class="tooltip quick-item ql-order"><span class="tooltiptext">Tạo mới đơn hàng</span></a>	
	<!-- <a class="quick-item ql-customer" href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tạo mới khách hàng"></a>
	<a class="quick-item ql-product" href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tạo mới sản phẩm"></a>
	<a class="quick-item ql-order" href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tạo mới đơn hàng"></a> -->
</div>
