<div class="modal sale-chanel-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Chọn kênh bán hàng</h4>
            </div>
            <div class="modal-body padding-30">
                <div class="sale-chanel-panel">
                    <div class="fanpage-box">
                        <h2 class="fanpage-box-title">Mạng xã hội &amp; OTT</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fanpage-group">
                                    <div class="checkbox">
                                        <input type="checkbox">
                                        <label>Facebook</label>
                                    </div>
                                    <ul class="block-list fanpage-list">
                                        <li class="item">
                                            <div class="checkbox">
                                                <input type="checkbox">
                                                <label>Candy Shop</label>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="checkbox">
                                                <input type="checkbox">
                                                <label>Raymond Shop</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="fanpage-group">
                                    <div class="checkbox">
                                        <input type="checkbox">
                                        <label>Zalo</label>
                                    </div>
                                    <ul class="block-list fanpage-list">
                                        <li class="item">
                                            <div class="checkbox">
                                                <input type="checkbox">
                                                <label>Candy Shop</label>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="checkbox">
                                                <input type="checkbox">
                                                <label>Raymond Shop</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fanpage-box">
                                    <h2 class="fanpage-box-title">Sàn C2C</h2>
                                    <div class="fanpage-group">
                                        <div class="checkbox">
                                            <input type="checkbox">
                                            <label>Shop myFace</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right cta-block">
                    <a class="btn btn-cancel">Hủy bỏ</a>
                    <input class="btn btn-secondary gotoDoneImport" value="Đăng bán sản phẩm" type="button">
                </div>
            </div>
        </div>
    </div>
</div>
