<script src="assets/js/lib/jquery.js" type="text/javascript"></script>
<script src="assets/js/plugin/libs.js" type="text/javascript"></script>
<script src="assets/js/lib/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/lib/jquery.checkall.js" type="text/javascript"></script>
<script src="assets/js/plugin/jquery-ui.js" type="text/javascript"></script>
<script src="assets/js/lib/jquery.colorPicker.js" type="text/javascript"></script>
<script src="assets/js/plugin/jquery.slimscroll.js" type="text/javascript"></script>
<script src="assets/js/plugin/chart.js" type="text/javascript"></script>
<script src="assets/js/plugin/bootstrap-select.js" type="text/javascript"></script>
<script src="assets/js/plugin/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="assets/js/plugin/select2.js" type="text/javascript"></script>
<!--tmp-script-->
<script src="assets/js/tmp-js.js" type="text/javascript"></script>
<!--./tmp-script-->
<script src="assets/js/script.js" type="text/javascript"></script>
<!--select2js-->
<script src="assets/js/call-select2js.js" type="text/javascript"></script>
