<h3 class="label-title">Trạng thái đơn hàng</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label class="error">Vui lòng chọn trạng thái đơn hàng</label>
            <label>Tất cả</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đang giao hàng</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đã giao hàng</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Hủy đơn hàng</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Thanh toán thành công</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Thanh toán thất bại</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đã hoàn phí C.O.D</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đang hoàn đơn hàng về shop</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đã hoàn đơn hàng về shop</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đặt hàng thành công</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đã xác nhận</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Chưa liên hệ được</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đang chuẩn bị hàng</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Đã đóng gói</label>
        </div>
    </div>
</div>
