<div class="modal syns-address-modal" style="display: block;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Chọn địa chỉ giao hàng</h4>
            </div>
            <div class="modal-body nopadding">
                <div class="syns-address-list">
                    <div class="address-row padding-30">
                        <div class="radio">
                            <input checked="checked" type="radio">
                            <label>
                                <p class="customer-address-info">
                                    <span>(Anh) Raymond Gold</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i> 0987456 123</span>
                                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i> Raymond.Gold@itlvn.com</span>
                                </p>
                                <p>Địa chỉ: 36 Hưng Phú, Phường Mỹ Quý, Long Xuyên, Tỉnh An Giang.</p>
                            </label>
                        </div>
                    </div>
                    <div class="address-row padding-30">
                        <div class="radio">
                            <input type="radio">
                            <label>
                                <p class="customer-address-info">
                                    <span>(Anh) Raymond Gold</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i> 0987456 123</span>
                                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i> Raymond.Gold@itlvn.com</span>
                                </p>
                                <p>Địa chỉ: 36 Hưng Phú, Phường Mỹ Quý, Long Xuyên, Tỉnh An Giang.</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-right padding-30 cta-block">
                    <a class="btn btn-cancel">Hủy bỏ</a>
                    <input class="btn btn-secondary" value="Tiếp tục" type="button">
                </div>
            </div>
        </div>
    </div>
</div>
