<h3 class="label-title">Công ty vận chuyển</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Tất cả</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Shop giao hàng (SGH)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Speedlink (SPL)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Giao Hàng Tiết Kiệm (GHTK)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Tốc Hành (TH)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Kingship (KS)</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="checkbox">
            <input type="checkbox">
            <label>Ninja Van (NJV)</label>
        </div>
    </div>
</div>
