<div class="panel box-panel box-change-package box-change-package2">
    <div class="row">
        <div class="col-md-6">
           <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="heading" colspan="2">
                            <div class="radio-inline">
                                <input value="option1" type="radio" checked="">
                                <label>Nâng cấp gói dịch vụ</label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Giá dịch vụ</span>
                        </th>
                        <td style="padding: 0;">
                            <span class="">Tính phí</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="heading" colspan="2">
                            <span class="">Tính năng quản lý bán hàng</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý đơn hàng</span>
                        </th>
                        <td class="td-fee">
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý danh mục sản phẩm</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý khách hàng</span>
                        </th>
                        <td class="td-fee">
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý hệ thống báo cáo</span>
                        </th>
                        <td class="td-fee">
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý chat & comment</span>
                        </th>
                        <td class="td-fee">
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Kết nối cty vận chuyển tự động</span>
                        </th>
                        <td class="td-fee">
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="heading" colspan="3">
                            <span class="">Tính năng Cấu hình & quản lý tài khoản</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Không giới hạn người quản lý tài khoản</span>
                        </th>
                        <td>
                            <span class="">
                                3 người
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Quản lý comment + inbox</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Server riêng</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                     <tr>
                        <th class="col-md-10">
                            <span class="">Cấu hình khuyến mãi</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Tự động ẩn comment sau khi nhận</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-10">
                            <span class="">Tự động ẩn số điện thoại sau khi nhận</span>
                        </th>
                        <td>
                            <span class="">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>
       <div class="col-md-6 right-box">
           <h3 class="title">Thông tin gói dịch vụ</h3>
           <div class="wrap-box">
               <div class="item">
                   <p>Bạn đang sử dụng gói: <span class="text-right">Gói tính phí</span></p> 
                   <p>Giá dịch vụ: <span class="text-right">0đ/30 ngày</span></p> 
                   <p>Ngày hết hạn: <span class="text-right">15/02/2018</span></p> 
               </div>
               <div class="item">
                   <p>Bạn đã chọn gói: <span class="text-right">Gói tính phí</span></p> 
                   <p>Giá dịch vụ: <span class="text-right">0đ/30 ngày</span></p> 
                   <p>Ngày hết hạn: <span class="text-right">15/02/2018</span></p> 
               </div>
                <div class="item">
                   <p>Sử dụng gói dịch vụ trong:</p>
                   <div class="row">
                       <div class="col-md-5">
                           <div class="wrap_select">
                                <select class="form-control" id="choose-act2">
                                    <option value="1">Chọn tháng</option>
                                    <option value="2">3 tháng</option>
                                    <option value="3">6 tháng</option>
                                    <option value="4">1 năm</option>
                                    <option value="5">2 năm</option>
                                    <option value="6">Tùy chọn</option>
                                </select>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                       </div>
                       <div class="col-md-5 _ip">
                           <input class="form-control months" type="text" name="" value="" placeholder="Nhập số tháng">
                       </div>
                       <div class="col-md-2">
                           <p>(Tháng)</p>
                       </div>
                   </div>
                </div>
               <div class="item">
                   <p>Bạn vừa nâng cấp gói: <span class="text-right">Gói tính phí</span></p> 
                   <p>Ngày hết hạn: <span class="text-right">15/02/2018</span></p> 
               </div>
               <div class="item">
                    <strong>Tổng tiền: <span class="text-right">250.000đ</span></strong>
               </div>
               <div class="block">
                   <p>Hình thức thanh toán:</p>
                    <div class="radio-inline">
                        <input value="option1" type="radio" name="pay">
                        <label>Thẻ thanh toán nội địa</label>
                        <a href="#">(Xem hướng dẫn)</a>
                    </div>
                    <div class="radio-inline">
                        <input value="option1" type="radio" name="pay">
                        <label>Visa/ Master Card</label>
                        <a href="#">(Xem hướng dẫn)</a>
                    </div>
               </div>
           </div>
       </div>
    </div>
    <div class="wrap_btn">
        <button class="btn btn-cancel" type="button">Hủy bỏ</button>
        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modal_update">Xác nhận</button>
    </div>
</div>
        