<div class="panel box-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Hình ảnh sản phẩm</h3>
    </div>
    <div class="panel-body panel-padding">
        <div class="upload-img-step empty-box" style="display: none;">
            <img src="assets/images/upload/upload-img.jpg" alt="myface">
            <input class="upload-btn upload-img-btn" type="file" name="files" multiple="">
        </div>
        <div class="upload-img-step">
            <div class="row">
                <div class="col-xs-6 ">
                    <div class="img-box-item">
                        <button class="close remove-action" type="button"><span aria-hidden="true">×</span></button>
                        <img id="view-img-box" src="assets/images/upload/img-item-1.jpg" title="img-item-1.jpg" alt="myface">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6 ">
                            <div class="img-create">
                                <img src="assets/images/upload/upload-img-item.jpg" title="img-item-1.jpg" alt="myface">
                                <input class="upload-btn upload-img-btn" type="file" name="files" multiple="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
